<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ siteName }}: {{ title }}</title>
	<link rel="stylesheet" href="{{ pathToRoot }}css/style.min.css">
	<meta name="HandheldFriendly" content="True">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{ descr }}">
	<link rel="canonical" href="{{ url }}">
	<meta name="format-detection" content="telephone=no">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ url }}">
	<meta property="og:image" content="{{ host }}/img/logo.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="400">
	<meta property="og:image:height" content="400">
	<meta property="og:image:alt" content="{{ siteName }}">
	<meta property="og:description" content="{{ descr }}">
	<meta property="og:determiner" content="the">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:site_name" content="{{ siteName }}">
</head>
<body>
	<header class="page-header">
		<nav class="nav">
			<h1 class="nav__title">
				{% block heading %}
					<a class="nav__title-link" href="{{ pathToRoot }}index.html">{{ siteHeading }}</a>
				{% endblock %}
			</h1>
			<ul class="nav__list">
				{% for item in pages %}
					<li class="nav__item {{ page == item.page ? 'nav__item--current' }}">
						{% if page == item.page %}
							<a class="nav__link">{{ item.title }}</a>
						{% else %}
							<a class="nav__link" href="{{ pathToRoot }}{{ item.page }}.html">{{ item.title }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
		{% block slide %}
			<div class="slide">
				<h2 class="slide__title">{{ isProjectPage ? 'Наши проекты' : title }}</h2>
				<img class="slide__img" src="{{ pathToRoot }}img/slides/{{ isProjectPage ? 'projects' : page }}.jpg"
					width="1000" height="300" alt="{{ title }}">
			</div>
		{% endblock %}
	</header>
	<main class="content">
		{% block main %}{% endblock %}
	</main>
	<footer class="page-footer">
		<div class="fb-like" data-href="{{ url }}" data-send="true" data-width="550" data-show-faces="true"></div>
		<div id="fb-root"></div>
		<p class="page-footer__copy">
			© <a class="page-footer__link" href="//efiand.github.io/portfolio">efiand</a>, разработка, 2017
		</p>
	</footer>
	<script src="//connect.facebook.net/ru_RU/all.js#xfbml=1"></script>
</body>
</html>
